<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Website Multiple Menus/Submenus</h2>
            <h3 class="oe_slogan">This module allows to auto list multiple menus/submenus in website.
            </h3>
        </div>
    </div>
</section>

<section class="oe_container oe_dark oe_slogan">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p><h2 class="text-center">Multiple Menus/Submenus in Website</h2></p>
            <h3 class="oe_slogan">After installation of this module, it will auto manages the multi-level menus/submenus in the website by selecting a menu.
            </h3>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="multi_menu_submenu_odooitnow.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark oe_slogan">
    <h3 class="oe_slogan">Get In Touch</h3>
    <div class="oe_slogan">
        <a class="btn btn-primary btn-lg mt8" href="mailto:info@odooitnow.com">
            <i class="fa fa-envelope"></i> Email 
        </a> 
        <a class="btn btn-primary btn-lg mt8" href="http://www.odooitnow.com">
            <i class="fa fa-phone"></i> Contact Us
        </a>
    </div>
    <img src="odooitnow.png" style="width: 200px; margin-bottom: 20px;"
        class="center-block">
</section>