<section class="oe_container">
  <div class="oe_row oe_spaced">
    <div class="oe_span12">
      <h2 class="oe_slogan" style="color:#2C0091;">Product Price Hide in Shop</h2>
      <h3 class="oe_slogan">This module useful to hide product price in shop. Only logged user can see product price.</h3>
    </div>
  </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Hide Product Price and Add to Cart button when User is not Logged In from Products list.</h4>
        <div >
          <img class="img-responsive" src="1.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Hide Product Price and Add to Cart button when User is not Logged In from Product Details form.Log In button available.</h4>
        <div >
          <img class="img-responsive" src="2.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Show Product Price and Add to Cart button when User is Logged In inside Products list.</h4>
        <div >
          <img class="img-responsive" src="3.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Show Product Price and Add to Cart button when User is not Logged In inside Product Details form.</h4>
        <div >
          <img class="img-responsive" src="4.png">
        </div>
    </div>
</section>

<br/>

<section class="oe_container oe_dark"> 
	<h2 class="oe_slogan" style="color:#2C0091;">You may also like!</h2>
	<div class="row oe_row oe_spaced"> 
		  		    
 		    <div class="col-md-4" align="center"> 
				<a href="https://www.odoo.com/apps/modules/11.0/sh_website_sticky_header/">
				<img src="https://www.odoo.com/apps/modules/11.0/sh_website_sticky_header/icon.png" 			
					alt="Website Sticky Header" height="200"/> 
    			</a>
    			<br/>
    			<strong>Website Sticky Header</strong>
   		    </div>
 		    <div class="col-md-4" align="center"> 
				<a href="https://www.odoo.com/apps/modules/11.0/sh_social_media/">
				<img src="https://www.odoo.com/apps/modules/11.0/sh_social_media/icon.png" 			
					alt="Social Media Extra Instagram, Pinterest, Tumblr, Flickr, Snapchat, Quora" height="200"/> 
    			</a>
    			<br/>
    			<strong>Social Media Extra Instagram, Pinterest, Tumblr, Flickr, Snapchat, Quora</strong>
   		    </div>    		    
 		    <div class="col-md-4" align="center"> 
				<a href="https://www.odoo.com/apps/modules/11.0/sh_website_faq/">
				<img src="https://www.odoo.com/apps/modules/11.0/sh_website_faq/icon.png" 	
					alt="Website FAQ" height="200"/> 
    			</a>
    			<br/>
    			<strong>Website FAQ</strong>
   		    </div> 
	</div> 
</section>

<br/>

<section class="oe_container oe_dark">
  <div class="oe_row oe_spaced">
	<h2 class="oe_slogan" style="color:#2C0091;">Help & Support</h2>
	<h3 class="oe_slogan">You will get free support and assistance in case of any issues</h3>
	<br/>
	<div class="text-center">	
            <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="mailto:support@softhealer.com"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="support[at]softhealer.com">Email</span></a>
	    <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="https://www.softhealer.com/support"  target="_blank"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="Softhealer Helpdesk">Helpdesk Support</span></a>
            <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="https://www.softhealer.com"  target="_blank"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="softhealer.com">More About Us</span></a>
            <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="skype:live:softhealertechnologies?chat"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="info_736589">Skype</span></a>
    </div>	
  </div>
</section>
