<section>
  <section class="oe_container" id="wk_header">
    <div class="mt32 mb32">
        <h2 class="text-center" style="color:#000">
            SEO-URL Redirect/Rewrite
        </h2>
        <h5 class="mt8 mb8 text-center" style="font-weight:500; font-size:18px; color:#484848; font-family:'Montserrat', sans-serif">
            <i>Better quality content and human readable keywords make more traffic to the websitey</i>
        </h5>
    </div>
    <div class="row mt16 mb16 py-2 m-1" style="font-weight:500; font-size:18px; color:#484848; font-family:'Montserrat', sans-serif">
        <div class="container col-md-6  border-right" style="font-weight:500;line-height: 24px;font-size:16px;color:#484848;font-family:'Montserrat', sans-serif; vertical-align: middle; display: grid;">
            <p class="mb4 mt4 mr8">
              Now, you can make changes in URL for better human readability without any hassle. Odoo SEO-URL Redirect/Rewrite allows you to rewrite a URL of your Odoo website and after that you can redirect it to the Old URL too.
            </p>
        </div>
        <div class="container col-md-6 ">
            <h4 class="ml-md-3">Information</h4>
            <div class="mt-2 ml-md-3" style="display:flex">
                <span class="ml-1 mr-2 my-auto"><img src="icon-user-guide.png" alt="user-guide"></span>
                <div style="font-weight: 600;font-size: 14px;line-height: 10px;" class="mt-2">
                    User Guide
                </div>
            </div>
            <div class="ml-md-3" style="display:flex;">
                <span style="font-size:15px; margin-top:0.2rem">https://webkul.com/blog/odoo-seo-url-redirect-rewrite/</span>
            </div>
        </div>
    </div>
</section>

  <p class="oe_mt16" style="text-align: justify;" >
      Now make your website more SEO Friendly by rewriting your website URLs and make your website pages more searchable. This module also provides redirect URL feature to your website. Redirect feature helps to send an informative message to your user's browser which will tell them that the page is moved and it will automatically switch to a new page of your choice.
  </p>
  <div class="card border-0  mt16" style="color: black;">
    <ul class="list-group list-group-flush border-0" style="font-size: 16px; color: black;">
      <li class="list-group-item bg-light border-0">
        <div class="p-3 mb-2 bg-info text-white"><h3 class="mb-0"><i class="fa fa-arrow-circle-o-right" /> <b>Features</b></h3></div>
          <ul class="list-unstyled" style="color: #545454;">
            <li><i class="fa fa-check"/> Feature to redirect from source URL to destination URL on your website.</li>
            <li><i class="fa fa-check"/> Feature to add multiple redirect list.</li>
            <li><i class="fa fa-check"/> Feature to rewrite catalog product URL.</li>
            <li><i class="fa fa-check"/> Feature to rewrite catalog product URL in bulk.</li>
            <li><i class="fa fa-check"/> Feature to add a suffix for catalog product URL.</li>
            <li><i class="fa fa-check"/> Feature to remove "/shop/product" from catalog product URL to make it SEO Friendly.</li>
            <li><i class="fa fa-check"/> Feature to automatically redirect for catalog products.</li>
            <li><i class="fa fa-check"/> Feature to rewrite product public category URL.</li>
            <li><i class="fa fa-check"/> Feature to rewrite product public category URL in bulk.</li>
            <li><i class="fa fa-check"/> Feature to add a suffix for product public category URL.</li>
            <li><i class="fa fa-check"/> Feature to remove "/shop/category" from product public category URL to make it SEO Friendly.</li>
            <li><i class="fa fa-check"/> Feature to automatically redirect for product public categories.</li>
            <li><i class="fa fa-check"/> Feature to manage category hierarchy on Website.</li>
            <li><i class="fa fa-check"/> Feature to manage category hierarchy along with product URL on Website.</li>
            <li>
              <div class="alert alert-warning mt16"><i class="fa fa-pencil-square-o"></i>
                <b>Note: </b>
                SEO-URL Redirect/Rewrite will only work with the Odoo default theme. To make it work with the customized theme or any third party theme you can <span ><a onMouseOver="this.style.color='#AC1EE0'"
                onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="https://webkul.uvdesk.com/en/customer/create-ticket/">contact us</a></span>.
              </div>
            </li>
            <li><p class="mt16"><a href="redirect.gif" target="new"><img src="redirect.gif" style="width:100%; margin-bottom: 20px;" /></a></p></li>
          </ul>
      </li>

      <li class="list-group-item border-0">
        <div class="p-3 mb-2 bg-info text-white"><h3 class="mb-0"><i class="fa fa-arrow-circle-o-right" /> <b>Catalog Rewrite Management</b></h3></div>
        <ul class="list-unstyled" style="color: black;">
          <li style="font-size: 18px;color: #545454;margin-bottom: 8px;"><i class="fa fa-check"/> Feature to rewrite catalog product URL.</li>
          <li><p><a href="catalog.gif" target="new"><img src="catalog.gif" style="width:100%; margin-bottom: 20px;" /></a></p></li>
        </ul>
      </li>

      <li class="list-group-item border-0 bg-light">
        <div class="p-3 mb-2 bg-info text-white"><h3 class="mb-0"><i class="fa fa-arrow-circle-o-right" /> <b>Feature to bulk rewrite catalog product/public categories URL</b></h3></div>
        <ul class="list-unstyled" style="color: black;">
          <li><p><a href="2.png" target="new"><img src="2.png" style="width:100%; margin-bottom: 20px;" /></a></p></li>
          <li><p><a href="3.png" target="new"><img src="3.png" style="width:100%; margin-bottom: 20px;" /></a></p></li>
          <li><p><a href="4.png" target="new"><img src="4.png" style="width:100%; margin-bottom: 20px;" /></a></p></li>
        </ul>
      </li>

      <li class="list-group-item border-0">
        <div class="p-3 mb-2 bg-info text-white"><h3 class="mb-0"><i class="fa fa-arrow-circle-o-right" /> <b>Catalog rewrite management on Website</b></h3></div>
        <ul class="list-unstyled" style="color: black;">
          <li><p><a href="7.png" target="new"><img src="7.png" style="width:100%; margin-bottom: 20px;" /></a></p></li>
          <li><p><a href="8.png" target="new"><img src="8.png" style="width:100%; margin-bottom: 20px;" /></a></p></li>
        </ul>
      </li>

      <li class="list-group-item border-0 bg-light">
        <div class="p-3 mb-2 bg-info text-white"><h3 class="mb-0"><i class="fa fa-arrow-circle-o-right" /> <b>Catalog Redirect Management</b></h3></div>
        <ul class="list-unstyled" style="color: black;">
          <li style="font-size: 18px;color: #545454;margin-bottom: 8px;"><i class="fa fa-check"/> Feature to automatically redirect for catalog products/ public categories.</li>
          <li><p><a href="5.png" target="new"><img src="5.png" style="width:100%; margin-bottom: 20px;" /></a></p></li>
          <li><p><a href="6.png" target="new"><img src="6.png" style="width:100%; margin-bottom: 20px;" /></a></p></li>
          <li style="font-size: 18px;color: #545454;margin-bottom: 8px;"><i class="fa fa-check"/> Feature to redirect from source url to destination url on your website.</li>
          <li><p><a href="12.png" target="new"><img src="12.png" style="width:100%; margin-bottom: 20px;" /></a></p></li>
        </ul>
      </li>

      <li class="list-group-item border-0">
        <div class="p-3 mb-2 bg-info text-white"><h3 class="mb-0"><i class="fa fa-arrow-circle-o-right" /> <b>Feature to add multiple redirect list</b></h3></div>
        <ul class="list-unstyled" style="color: black;">
          <li><p><a href="11.png" target="new"><img src="11.png" style="width:100%; margin-bottom: 20px;" /></a></p></li>
        </ul>
      </li>

      <li class="list-group-item border-0 bg-light">
        <div class="p-3 mb-2 bg-info text-white"><h3 class="mb-0"><i class="fa fa-arrow-circle-o-right" /> <b>URL Suffix</b></h3></div>
        <ul class="list-unstyled" style="color: black;">
          <li style="font-size: 18px;color: #545454;margin-bottom: 8px;"><i class="fa fa-check"/> Feature to add suffix for catalog product/public categories URL.</li>
          <li><p><a href="9.png" target="new"><img src="9.png" style="width:100%; margin-bottom: 20px;" /></a></p></li>
        </ul>
      </li>

      <li class="list-group-item border-0">
        <div class="p-3 mb-2 bg-info text-white"><h3 class="mb-0"><i class="fa fa-arrow-circle-o-right" /> <b>Manage Category Hierarchy</b></h3></div>
        <ul class="list-unstyled" style="color: black;">
          <li style="font-size: 18px;color: #545454;margin-bottom: 8px;"><i class="fa fa-check"/> Feature to to manage category hierarchy on Website.</li>
          <li><p><a href="13.png" target="new"><img src="13.png" style="width:100%; margin-bottom: 20px;" /></a></p></li>
        </ul>
      </li>

      <li class="list-group-item border-0 bg-light">
        <div class="p-3 mb-2 bg-info text-white"><h3 class="mb-0"><i class="fa fa-arrow-circle-o-right" /> <b>Manage Category Hierarchy Per Product</b></h3></div>
        <ul class="list-unstyled" style="color: black;">
          <li style="font-size: 18px;color: #545454;margin-bottom: 8px;"><i class="fa fa-check"/> Feature to to manage category hierarchy along with product URL on Website.</li>
          <li><p><a href="14.png" target="new"><img src="14.png" style="width:100%; margin-bottom: 20px;" /></a></p></li>
        </ul>
      </li>

      <li class="list-group-item border-0">
        <div class="p-3 mb-2 bg-info text-white"><h3 class="mb-0"><i class="fa fa-arrow-circle-o-right" /> <b>Default Configuration</b></h3></div>
        <ul class="list-unstyled" style="color: black;">
          <li><p><a href="1.png" target="new"><img src="1.png" style="width:100%; margin-bottom: 20px;" /></a></p></li>
          <li style="font-size: 18px;color: #545454;margin-bottom: 8px;"><i class="fa fa-check"/> Enable suffix setting to add suffix along with URL.</li>
          <li style="font-size: 18px;color: #545454;margin-bottom: 8px;"><i class="fa fa-check"/> User can add suffix for catalog product/ public categories as well.</li>
          <li style="font-size: 18px;color: #545454;margin-bottom: 8px;"><i class="fa fa-check"/> Enable "use web server rewrite" setting to remove 'shop/category' and 'shop/product' from catalog URLs.</li>
          <li style="font-size: 18px;color: #545454;margin-bottom: 8px;"><i class="fa fa-check"/> Enable "use category hierarchy" setting to manage category hierarchy on Website.</li>
          <li style="font-size: 18px;color: #545454;margin-bottom: 8px;"><i class="fa fa-check"/> Enable "use category URL" setting to manage category hierarchy along with product URL on Website.</li>
        </ul>
      </li>

      <li class="list-group-item border-0 bg-light">
        <div class="p-3 mb-2 bg-info text-white"><h3 class="mb-0"><i class="fa fa-arrow-circle-o-right" /> <b>Module Change Log</b></h3></div>
        <ul class="list-unstyled" style="color: #545454;">
          <li>
            <div class="panel panel-primary" id="wkid0">
                <div class="panel-heading">
                    <h3 class="panel-title"><b></b></h3>
                </div>
                <div class="panel-body">
                    <p>
                        Notations description used in this document.
                    </p>
                    <ul class="list-unstyle">
                        <li>
                            <i class="fa fa-plus text-success"></i>
                            [Features Added]
                        </li>
                        <li>
                            <i class="fa fa-minus text-danger"></i>
                            [Features Removed]
                        </li>
                        <li>
                            <i class="fa fa-bug text-warning"></i>
                            [Bug Fixed]
                        </li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="alert alert-info">
                        <i class="fa fa-plus-circle"></i>
                        <b>  App Released version 1.2.0</b>
                        <b style="float:right"> Released in March 2019 </b>
                    </div>
                    <div class="oe_span12" style="max-width: 100%;">
                        <p>
                            <i class="fa fa-minus text-danger"></i>
                            Fix unique URL issue now default URL will be genrate by ID, Name.
                        </p>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="alert alert-info">
                        <i class="fa fa-plus-circle"></i>
                        <b>  App Released version 1.1.0</b>
                        <b style="float:right"> Released in September 2018 </b>
                    </div>
                    <div class="oe_span12" style="max-width: 100%;">
                        <p>
                            <i class="fa fa-plus text-success"></i>
                            Feature to set different url key in other language.
                        </p>
                        <p>
                            <i class="fa fa-minus text-danger"></i>
                            Fix wrong URL in sitemap.
                        </p>
                        <p>
                            <i class="fa fa-minus text-danger"></i>
                            Fix wrong URL inside pagesource.
                        </p>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="alert alert-info">
                        <i class="fa fa-plus-circle"></i>
                        <b>  App Released version 1.0.0</b>
                        <b style="float:right"> Released in March 2018 </b>
                    </div>
                    <div class="oe_span12" style="max-width: 100%;">
                        <p>
                            <i class="fa fa-plus text-success"></i>
                            Feature to redirect from source URL to destination URL on your website.
                        </p>
                        <p>
                            <i class="fa fa-plus text-success"></i>
                            Feature to add multiple redirect list.
                        </p>
                        <p>
                            <i class="fa fa-plus text-success"></i>
                            Feature to rewrite catalog product URL.
                        </p>
                        <p>
                            <i class="fa fa-plus text-success"></i>
                            Feature to rewrite catalog product URL in bulk.
                        </p>
                        <p>
                            <i class="fa fa-plus text-success"></i>
                            Feature to add a suffix for catalog product URL.
                        </p>
                        <p>
                            <i class="fa fa-plus text-success"></i>
                            Feature to remove "/shop/product" from catalog product URL to make it SEO Friendly.
                        </p>
                        <p>
                            <i class="fa fa-plus text-success"></i>
                            Feature to automatically redirect for catalog products.
                        </p>
                        <p>
                            <i class="fa fa-plus text-success"></i>
                            Feature to rewrite product public category URL.
                        </p>
                        <p>
                            <i class="fa fa-plus text-success"></i>
                            Feature to rewrite product public category URL in bulk.
                        </p>
                        <p>
                            <i class="fa fa-plus text-success"></i>
                            Feature to add a suffix for product public category URL.
                        </p>
                        <p>
                            <i class="fa fa-plus text-success"></i>
                            Feature to remove "/shop/category" from product public category URL to make it SEO Friendly.
                        </p>
                        <p>
                            <i class="fa fa-plus text-success"></i>
                            Feature to automatically redirect for product public categories.
                        </p>
                        <p>
                            <i class="fa fa-plus text-success"></i>
                            Feature to manage category hierarchy on Website.
                        </p>
                        <p>
                            <i class="fa fa-plus text-success"></i>
                            Feature to manage category hierarchy along with product URL on Website.
                        </p>
                    </div>
                </div>
            </div>
          </li>
        </ul>
      </li>
      <li class="list-group-item border-0" style="color: black;">
        <section class="pt32" id="webkul_support">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Help and Support</h2>
            <p class="mb-2 text-center" style="font-size:16px; color:#333; font-weight:400">Get Immediate support for any of your query</p>
        </div>
        <div class="col-12">
            <p class="text-center px-5" style="font-size:14px; color:#555; font-weight:normal">You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related to this module.</p>
        </div>
        <div class="mx-auto col-lg-9 mb-4 oe_screenshot">
            <div class="row align-items-center justify-content-center mx-0 p-3">
                <div class="col-sm-2 text-center pr-0">
                    <img src="mail.png" alt="mail" class="img img-fluid">
                </div>
                <div class="col-xl-7 col-sm-10">
                    <p class="my-2" style="color:#555; font-weight:bold">Write a mail to us:</p>
                    <b class="text-primary" style="font-size:18px">support@webkul.com</b>
                    <p class="my-2" style="font-size:14px; color:#777; font-weight:normal">Any queries or want any extra features? Just drop a mail to our support.</p>
                </div>
                <div class="col-xl-3 offset-xl-0 float-xl-right col-sm-10 offset-sm-2 float-left mt16">
                    <a href="mailto:support@webkul.com" style="padding:10px 22px; background-color:#2335D7; font-size:14px; color:#fff"><i class="fa fa-pencil-square-o" style="color:white; margin-right:4px"></i>Write To US</a>
                </div>
            </div>
        </div>
        <div class="mx-auto col-lg-9 oe_screenshot">
            <div class="row align-items-center justify-content-center mx-0 p-3">
                <div class="col-sm-2 text-center pr-0">
                    <img src="support-icon.png" alt="support-icon" class="img img-fluid">
                </div>
                <div class="col-sm-10 ">
                    <p class="my-2" style="font-weight:bold; color:#555">Get in touch with our Expert:</p>
                    <b class="text-primary text-break" style="font-size:18px">https://webkul.uvdesk.com/en/customer/create-ticket/</b>
                    <p class="my-2" style="font-weight:normal; font-size:14px; color:#777">Have any technical queries, want extra features, or anything else? Our team is here to answer all your questions. Just Raise A Support Ticket.</p>
                </div>
            </div>
        </div>
    </div>
</section>
      </li>
    </ul>
  </div>
</section>
