li.kms-name {
    font-size: large;
    font-weight: 600;
    list-style: none;
}

p.kms-para {
    font-size: 14px;
    text-overflow: ellipsis;
}

li.kms-content {
    margin-top: 5px;
    max-height: 160px;
    overflow: hidden;
    list-style: none;
}

.kms-container{
	width: 100% !important;
    max-width: 100%;
    margin: auto;
}

.split-left {
    height: 100%;
    width: 20%;
    position: inherit;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    left: 0;
}


/*.split-right {
    height: 100%;
    width: 80%;
    position: inherit;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    right: 0 !important;
    float: right !important;
}
*/

.split-right{
    height: 100%;
    width: auto;
    position: inherit;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    margin-left: -2.7em !important;
}

.left {
  left: 0;
  background-color: #111;
}

.right {
  right: 0;
  background-color: red;
}

.kms-table {
    margin-bottom: 0.2em !important;
    background: white !important;
    padding: 1em !important;
    text-align: initial;
    overflow: auto;
    box-shadow: inset -1px 1px 5px 0px darkgrey;
    border-radius: 5px;
}

span.likes {
    float: right;
    margin-left: 10px;
}

li.kms-section-tag {
    list-style: none;
}