.oe_like_button i{
    color:rgb(17, 146, 118) !important;
    padding-left: 50px !important;
}

.oe_dislike_button i{
    color:rgb(224, 2, 11) !important;
    padding-left: 50px !important;  
}

.oe_fav_button i{
    color:teal !important;
    padding-left: 60px !important;  
}


.oe_print_button i{
    color: #da241b !important;
    padding-left: 62px !important;
}

button.btn.oe_stat_button.oe_like_button {
    width: 140px !important;
}

button.btn.oe_stat_button.oe_dislike_button {
    width: 140px !important;
}

.star_button{
    text-align: center !important;
    font-size: 1.7em !important;
    background-color: white !important;
    color: black !important;    
}

.kms-left-panel {
    flex: 0 0 320px;
    background-color: rgb(89,74,93);
    display: block;
    color: white;
    overflow: auto;
    font-weight: 600;
    font-size: 15px;
    position: fixed;
    cursor: pointer;
    padding: 10px 20px;
    padding-bottom: 6px;
    border: 2px solid #DEDEDE;
    z-index: 1;
    height: 100% !important;
    width: 20% !important;
    max-height: 82% !important;
    min-height: 82% !important;
}

.kms-right-panel {
    right: 0;
    flex: 0 0 320px;
    background-color: rgb(89,74,93);
    display: block;
    color: white;
    overflow: auto;
    font-weight: 600;
    font-size: 15px;
    position: fixed;
    cursor: pointer;
    padding: 10px 20px;
    padding-bottom: 6px;
    border: 2px solid #DEDEDE;
    z-index: 999;
    height: 100% !important;
    width: 19.5% !important;
    max-height: 82% !important;
    min-height: 82% !important;
}

.kms_kanban_records {
    width: 100% !important;
}

.kms_kanban_view {
    display: inline-table !important;
    border: 1px solid black !important;
    padding: 10px !important;
    font-size: 15px !important;
}

.o_kms_kanban {
    display: block !important; 
    margin-left: 19.5% !important;
    margin-right: 0.4% !important;
    margin-top: -0.6% !important;   
}

.o_kms_kanban_rl {
    display: block !important; 
    margin-left: 19.5% !important;
    margin-right: 20% !important;
    margin-top: -0.6% !important;   
}

.kms-header {
    text-align: center !important;
    margin-bottom: -0.5em;
    margin-top: 1em;
}

.kms-right-header{
    text-align: left !important;
    margin-bottom: 0.5em;
    margin-top: 1em;
}

div#recordspicked {
    margin-left: 4em;
    overflow: hidden;
}


.kms-right-buttons {
    display: inline-grid;
    margin-left: 1em !important;
    margin-top: 1em !important;
    line-height: 1.8em !important;
}

.tooltip {
    display:none;
    position:absolute;
    border:1px solid #333;
    background-color:#161616;
    border-radius:5px;
    padding:10px;
    color:#fff;
    font-size:12px Arial;
}

.kms-right-content {
    color: lavenderblush !important;
    opacity: 1 !important;
    font-weight: 500 !important;
}

.kms-content {
    color: lavenderblush !important;
    opacity: 1 !important;
    font-weight: 500 !important;
}

.kms-hr {
    border: 1px solid white !important;
    width: 85% !important;
}

.kms-right-hr {
    border: 1px solid white !important;
    width: 82% !important;
    margin-left: 2em;
}

hr.kms-space {
    border: 1px solid;
    width: 95% !important;
    margin-left: 1em !important;
}

.kms-form {
    display: flex;
    margin: 2em;
}

select.form-control.kms-input {
    color: black !important;
}

.kms-b {
    margin-left: 0.3em;
    font-size: 16px;
    margin-top: 0.2em;
}


.green {
    color: green;
}

.kms-select-record {
    text-align: left !important;
    margin-left: 1.8em;
    font-size: 16px;
    margin-top: -1em !important;
    cursor: pointer;
}

.kms-body {
    margin-left: 1em;
}

.jstree-default .jstree-hovered {
    background: transparent;
}

.o_kms_record_bottom {
}

.o_kms_name {
    font-size: medium;
    font-weight: 500;
    font-family: sans-serif !important;
}


.oe_kanban_global_click.kms_kanban_view.kms_kanban_records.o_kanban_record.selected_record {
    border: 1px solid green !important;
    box-shadow: 10px -5px 11px -3px grey;
}

.oe_avatar_size {
    width: 26px !important;
    height: 26px !important;
}